<h1>List of questions</h1>
<%= link_to "New Question", new_question_path %>
<br><br>

<% @questions.each do |question|%>
  <%= question.title %>
  <%= link_to "Show", question_path(question) %>
  <% if question.user_id === current_user.id %>
    <%= link_to "Delete", question, method: :delete %>
  <% end %>
  <br>
<% end %>
